
*{
    border: 1 solid hotpink
}
header{
    background-image: url("../images/skrot&kornab.webp");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0px;
    background-attachment: fixed;
    height:100px;
    display: flex;
    padding:20px;
    margin:5px;
}

.logotype{
    background-color: goldenrod;
    font-size: 2em;
    padding-top:1em;
    border-radius: 25px;
    border:2px dotted black;
}

.searchbar{
    background-color: white;
    font-size: 2em;
    padding-top:0.1em;
    height:40px;
    position: relative;
    top:50px;
    width: 750px;
    left: 750px;
}
.menucontainer{
    background-color: rgb(50, 135, 192);
    display: flex;
    flex-direction: column;
    height: 650px;
    padding:15px;
    justify-content: space-around;
    width: 140px;
    margin:5px;
    align-items: center;
    
}

.menulink{
    margin-top:30px;
    background-color: orange;
    border:5px dotted orangered;
    border-radius: 12px;
    font-size: 1.25em;
    height:2em;
    width:120px;
    padding:5px;
    padding-top:15px;
    text-align: center;
    position: relative;
    left:-25px;
}

main{
    display: flex;
}


.menubutton:hover{
    background-color: cyan;
}

table{
    border-color:darkgreen;
    border-width: 5px;
    color:saddlebrown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-block-start-color: darkgreen;
    border-block-end-color: darkgreen;
}

th{
    border-color:darkgreen;
}

.mainbody{
    margin:0px;
    padding:0px;
    background-color: aliceblue;
}

.mediabody{
    background-image: url("../images/filmroll.webp");
    background-repeat: no-repeat;
    background-size:cover;
}

.myiframe{
    width:1500px;
    margin:5px;
}

aside
{
    display:flex;
    flex-direction: column;
    margin:5px;
}
.asidebox{
    background-color:aquamarine;
    font-size: 2.5em;
    height: 676px;
    width: 215px;
    text-align: center;
    text-decoration: underline;
}

.fakead{
    background-color: goldenrod;
    color: white;
    position: absolute;
    height:250px;
    width:150px;
    border: 2px solid gold;
    border-radius: 20px;
    font-size:2em;
    text-align: center;
    padding-top:6em;
    top:300px;
    right:30px;
}

footer{
    background-color: goldenrod;
    height:110px;
    display: flex;
    justify-content: space-around;
    margin:5px;
}

.contactinfo{
    padding-top:30px;
    font-size: 2.5em;
}

.floating{
    float: left;
    margin:15px;
}

.grid-container{
    display: grid;
    background-color: white;
    grid-template-areas: 
        "spacea nameA nameB nameC"
        "spaceb imagea imageb imagec"
        "price pricea priceb pricec"
        "pricemoms pricemomsa pricemomsb pricemomsc"
        "hp hpa hpb hpc"
        "mll mlla mllb mllc"
        ;

    grid-template-columns: 100px 460px 460px 460px;

    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color:saddlebrown;
    border: 4px solid darkgreen;
    
    
}
.productbody{
    background-color:bisque;
}
.spaceA{grid-area: spacea; border-bottom: 2px solid darkgreen; border-top: 2px solid darkgreen;}
.spaceB{grid-area: spaceb; border-bottom: 2px solid darkgreen;}

.nameA{grid-area: nameA; text-align: center; border: 2px solid darkgreen;}
.nameB{grid-area: nameB; text-align: center; border: 2px solid darkgreen;}
.nameC{grid-area: nameC; text-align: center; border: 2px solid darkgreen;}

.imageA{grid-area: imagea; position: relative; width: 460px; border: 2px solid darkgreen;}
.imageB{grid-area: imageb; position: relative; width: 460px; border: 2px solid darkgreen;}
.imageC{grid-area: imagec; position: relative; width: 455px; border: 2px solid darkgreen;}

.price{grid-area: price; border: 2px solid darkgreen;}
.priceA{grid-area: pricea;  border: 2px solid darkgreen; padding:0.5em;}
.priceB{grid-area: priceb;  border: 2px solid darkgreen; padding:0.5em;}
.priceC{grid-area: pricec;  border: 2px solid darkgreen; padding:0.5em;}

.pricemoms{grid-area: pricemoms; border: 2px solid darkgreen;}
.pricemomsA{grid-area: pricemomsa;  border: 2px solid darkgreen; padding:0.5em;}
.pricemomsB{grid-area: pricemomsb;  border: 2px solid darkgreen; padding:0.5em;}
.pricemomsC{grid-area: pricemomsc;  border: 2px solid darkgreen; padding:0.5em;}

.hp{grid-area: hp; border: 2px solid darkgreen; padding:0.5em;}
.hpA{ grid-area: hpa; border: 2px solid darkgreen; padding:0.5em;}
.hpB{ grid-area: hpb; border: 2px solid darkgreen; padding:0.5em;}
.hpC{ grid-area: hpc; border: 2px solid darkgreen; padding:0.5em;}

.mll{grid-area: mll; border: 2px solid darkgreen; padding:0.5em;}
.mllA{grid-area: mlla; border: 2px solid darkgreen; padding:0.5em;}
.mllB{grid-area: mllb; border: 2px solid darkgreen; padding:0.5em;}
.mllC{grid-area: mllc; border: 2px solid darkgreen; padding:0.5em;}